input{
	height: 30px;
	width:50px;

}

<<<<<<< HEAD:in.css
body{
	margin: 20px;
}
=======
body {
    margin: 40px;
}


.answerBlock {
    padding: 20px;
    background: #f0ffeb;
}

.mistakeBlock {
    padding: 20px;
    background: #e8a9af;
>>>>>>> 3d4c72fb771b09dabc106c9800102de9b5c1d208:css/in.css
}

div{
	position:relative;
}

.result{

	background-color: white;
	margin: 20px;
	display: inline-block;
}

	
.inputBox {
	width: 50px;
}

.indexSpan {
	top: 5px;
	left: -30px;

}

h1{
	color:#2F4F4F;
}

h2{
	color:#5F9EA0;
}

h3{
	color: #778899
}