body {
	padding: 20px;
}

div{
color: black;

}

#content{
	text-align: center;
}

.line{
	display: inline-block;
}

h1{
	color: blue;
}

.ceilGroup {
	margin-right: 30px;
	padding: 2px;
	width: 200px;
}

.inputBox {
	width: 50px;
}

.indexSpan {
	top: 5px;
	left: -20px;
}