input{
	height: 30px;
	width:50px;

}



div{
	position:relative;
}

.result{

	background-color: white;
	margin: 20px;
	display: inline-block;
}

	
.inputBox {
	width: 50px;
}

.indexSpan {
	top: 5px;
	left: -30px;

}

h1{
	color:#2F4F4F;
}

h2{
	color:#5F9EA0;
}

h3{
	color: #778899
}